{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container my-5 py-5">
	<div class="row">
		<div class="col-md-6">
			<form action="#" method="post">
				<fieldset>
					<div class="mb-3">
						<label for="fname" class="form-label">First Name</label>
						<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email address</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
					</div>
					<div class="mb-3">
						<label for="note" class="form-label">Note</label>
						<textarea class="form-control" id="note" name="note" rows="3" placeholder="Write something..." required></textarea>
					</div>
					<button type="submit" class="btn btn-lg d-flex justify-content-center align-items-center btn-primary w-100">
						<i class="fas fa-terminal fa-2x me-4"></i>
						Run Script</button>
				</fieldset>
			</form>
		</div>
		<div class="col-md-6 bg-dark p-4 text-light" style="border-radius: 15px;">
			<h6 class="mt-5 text-center">{{ data|safe }}</h6>
		</div>
	</div>
</div>

{% endblock %}
